/* Web CV styling */

body {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    background-color: #F6F6FA;
}

.web-wrapper {
    display: flex;
    flex-direction: row-reverse;
    width: 1200px;
    margin: 40px auto;
    background-color: #FFFFFF;
}

/* Sidebar styles */
.sidebar-section {
    background-color: #DFEEFF;
}

.sidebar-image {
    margin-top: 40px;
}

.contacts-container {
    padding-left: 40px
}

.contacts-header {
    font-weight: 700;
    font-size: 22px;
    color: #161d2a;
}

.contacts-item {
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #161d2a;
}

.contacts-phone {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px; 
    color: #4489ff;
    text-decoration: none;
    margin-left: 10px;
}

.contacts-email {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px; 
    color: #4489ff;
    margin-left: 10px;
}

.contacts-element {
    margin-top: -12px;
}

.tech-skills-section {
    padding-left: 40px;
    margin-top: 40px;
}

.tech-skills-header {
    font-weight: 700;
    font-size: 22px;
    color: #161d2a;
}

.tech-skills-list {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #161d2a;
    margin-top: -12px;
    margin-left: -16px;
}

.soft-skills-section {
    padding-left: 40px;
    margin-top: 40px;
}

.soft-skills-header {
    font-weight: 700;
    font-size: 22px;
    color: #161d2a;
}

.soft-skills-list {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px; 
    color: #161d2a;
    margin-top: -12px;
    margin-left: -16px;
}

/* Main content styles */
.right-side-container {
    padding-left: 8px;
    padding-top: 80px;
    padding-right: 40px;
    padding-bottom: 180px;
}

.about-me-profession {
    font-weight: 700;
    font-size: 14px;
    color: #000;
}

.about-me-name {
    font-weight: 700;
    font-size: 45px;
    color: #000;
    margin-top: -10px;
}

.about-me-description{
    font-weight: 400;
    font-size: 14px;
    line-height: 24px; 
    color: #595959;
    margin-top: -25px
}

.projects-section {
    margin-top: 45px;
}

.projects-header {
    font-weight: 700;
    font-size: 22px;
    color: #000;
}

.projects-list {
    font-weight: 700;
    font-size: 14px;
    line-height: 24px; 
    color: #000;
    margin-left: -20px;
    margin-top: -15px;
}

.projects-name {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px; 
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #595959;
}

.projects-info {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px; 
    color: #000;
}

.work-experience-section{
    margin-top: 40px;
}

.work-experience-header{
    font-weight: 700;
    font-size: 22px;
    color: #000;
}

.company-container {
    margin-top: 0px;
}

.company-name {
    font-weight: 700;
    font-size: 16px;
    color: #000;
}

.company-info {
    font-weight: 700;
    font-size: 16px;
    color: #6096ff;
    margin-left: 15px;
}

.company-time {
    font-weight: 400;
    font-size: 12px;
    color: #a8a8a8;
    margin-top: -5px;
}

.company-elements-list {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px; 
    color: #595959;
    margin-left: -20px;
    margin-top: -5px;
}

.education-section {
    margin-top: 40px;
}

.education-header {
    font-weight: 700;
    font-size: 22px;
    color: #000;
    margin-bottom: 15px;
}

.education-container {
    margin-top: 0px;
}

.education-name {
    font-weight: 700;
    font-size: 16px;
    color: #6096ff;
}

.education-profession {
    font-weight: 700;
    font-size: 14px;
    color: #000;
    margin-top: -10px;
}

.education-time {
    font-weight: 400;
    font-size: 12px;
    color: #a8a8a8;
    margin-top: -15px;
}

